body {
    background-image: url("../images/background.jpg");
}

#KYS {
    background-image: url("../images/cover.jpg");
    color: white;
    height: 400px;
}

.start {
    text-align: center;
}

.instructions {
    text-align: center;
}

#singlebutton {
    background-color: #006652;
}

#info {
    background-color: transparent;
    color: white;
    text-align: center;
    margin: auto;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 17px;
    width: 500px;
}

#infoPic {
    padding: 10px;
    margin: 10px;
}

#comments {
    text-align: center;
    width: 200px;
    font-size: 15px;
    margin: 40px;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    color: white;
}