body {
    background-image: url("../images/background.jpg");
}

.jumbotron {
    background-image: url("../images/cover.jpg");
    color: white;
    height: 400px;
}

.start {
    text-align: center;
}

.instructions {
    text-align: center;
}

#singlebutton {
    background-color: #006652;
}

.nav-pills {
    float: left;
    color: white;
}

.navbar-right {
    float: right;
}

.info {
    color: white;
    text-align: center;
    width: 400px;
    margin: auto;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 17px;
}

.foot 
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(35, 35, 36);
  color: rgb(146, 151, 197);
  text-align: center;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
}