.jumbotron {
    background-image: url("../images/cover.jpg");
    color: white;
}

.start {
    text-align: center;
}

.instructions {
    text-align: center;
}

#singlebutton {
    background-color: #006652;
}

.navbar-default {
    border: none;
    color: red;
    
}